/* Common */
body {
  max-width: 650px;
  font-size: 16px;
  margin: auto;
  padding: 20px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
h1.brand, 
p.brand {
	font-family: Sukhumvit Sukhumvit Set, serif;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 0.3px;
	margin-top: 12px;
	margin-bottom: 25px;
}
h1.brand a ,
p.brand a{
	text-decoration: none;
	color: #333;
}
ul {
	line-height: 1.6;
}
ul.toppage {
	font-size: 16.5px;
	list-style: none;
	padding: 0;
	background-color: #fff;
	outline: none;
}
ul.toppage li { display: flex; }
time { flex: 0 0 105px; }
a    { flex: 1; }

/* Post */
h1, h2, h3, time, p, li, pre {
	font-family: "adelle", serif;
	font-style: normal;
	font-weight: 400;
	color: #525150;
}
h1.title {
	font-size: 27px;
	margin-top: 25px;
	margin-bottom: 27px;
	font-weight: 600;
	color: #454545;
}
h2, h3 {
	font-weight: 600;
}
p {
	font-size: 20px;
	line-height: 1.75;
}
a {
	color: #2121d3d9;
}
img {
	max-width: 85%;
	margin: auto;
	display: block;
}
hr {
	background-color: rgba(0, 0, 0, 0.15);
	height: 1px;
	border: 0;
	margin: 25px 0;
}
ul, pre {
	font-size: 16.5px;
	background-color: rgba(250, 250, 250, 0.48);
	outline: 1px solid rgba(228, 228, 228, 0.8705882353);
	list-style: disc;
	padding: 20px 20px 21px 30px;
}
li {
	display: list-item;
}
ul.long_list li:not(:last-child) {margin-bottom: 10px;}
ul.long_list li:last-child { margin-bottom: 0; }

pre {
	white-space: pre-wrap;
}
blockquote {
	margin: 20px 0 20px 2px;
	padding: 0 0 0 15px;
	border-left: 2px solid rgba(75, 75, 75, 0.8);
}
blockquote p {
	font-size: 17px;
	font-style: italic;
	color: #6a6a6a;
}
blockquote p:before {
	content: "» ";
}

/* 画面幅が768px以上のときだけ有効 */
@media (min-width: 768px) { 
	p {font-size: 17px;}
	img {max-width: 60%;}
}

/* 画面幅が767px以下のときだけ有効 */
@media (max-width: 767px) {
	p {font-size: 17px;}
	ul {font-size: 16.5px; line-height: 1.6;}
}